<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        All right reseved &copy; 2020 <span class="text-danger"><i class="fas fa-heart"></i></span> by Douglas D.
      </div>
      <div class="col-md-6">
        <div class="text-md-right footer-links   d-none d-sm-block">
          <a href="https://ko-fi.com/douglasdanjuma9"><span class="text-warning"><i class="fas fa-mug-hot"></i></span> Buy me a Coffee</a>
          <a href="https://douglas-portfolio.herokuapp.com"><span class="text-success"><i class="far fa-paper-plane"></i></span> Contact Me</a>
        </div>
      </div>
    </div>
  </div>
</footer>